// @import "../../../styles/variables.scss";
// @import "../../../styles/styles.scss";

@import "@styles/variables.scss";
@import "@styles/styles.scss";

.pagination {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  align-items: center;
}

.pagination button {
  cursor: pointer;
  font-size: 18px;
  padding: 13px;
  border: none;
  background: none;
}

.active {
  background-color: var(--brand);
  color: var(--screen-color);
}

.general {
  color: red;
}

.arrow_disabled {
  stroke: #afadb5;
}

.arrow {
  stroke: var(--text-primary);
}
