@import "styles/variables.scss";
@import "styles/styles.scss";

.title {
  color: var(--text-primary, #000);
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  margin-bottom: var(--space-l);
}

.related_block {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
